[submodule "cs140"]
	path = cs140
	url = https://github.com/sbcc-cs140-fall2018/cs140-support-lib.git
[submodule "githooks"]
	path = githooks
	url = https://github.com/sbcc-cs140-fall2018/githooks.git
